.page {
  max-width: 1440px;
  overflow: hidden;
  overflow-y: scroll;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0 auto;
  padding: 0 18px;
  background-color: #333;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}