.road__button {
  height: 50px;
  max-width: 180px;
  background-color: #24b47e;
  color: #fff;
  border-radius: 4px;
  padding: 16px 10px;
  border: none;
  font-size: 14px;
  line-height: 1.28;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 66px 0 0;
  box-sizing: border-box;
  position: relative;
  transition: all 1s ease;
  z-index: 1;
}
.road__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 50px;
  background: #319e75;
  border-radius: 4px;
  transition: all 1s ease;
  z-index: -1;
}
.road__button:hover:before {
  width: 100%;
  border-radius: 4px;
}
@media (max-width: 768px) {
  .road__button {
    height: 46px;
    max-width: 284px;
    margin: 0;
  }
}