.road__trademark {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 167px 0 209px;
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  align-items: center;
}
@media (max-width: 888px) {
  .road__trademark {
    margin: 80px 0 80px;
  }
}
@media (max-width: 768px) {
  .road__trademark{
    display: none;
  }
}