.road__bicycle { 
    width: 810px;
    height: 430px;
    position: absolute;
    bottom: 79px;
    right: 0;
    z-index: 2;
  }

@media (max-width: 1290px) {
  .road__bicycle {
    width: 600px;
  }
}

@media (max-width: 1100px) {
  .road__bicycle {
    width: 400px;
  }
}

