.training__text-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin-right: 30px;
}
@media (max-width: 888px) {
  .training__text-link {
    font-size: 14px;
    line-height: 20px;
  }
}