.road {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  max-width: 1200px;
  padding-top: 74px;
}

@media (max-width: 888px) {
  .road {
    flex-direction: column;
    max-width: 284px;
    gap: 40px;
  }
}
