.footer__form-email {
    max-width: 360px;
    min-height: 50px;
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-radius: 4px;
    background-color: #2F2F2F;
    margin-top: 50px;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
}