.training {
  margin: 150px 120px 120px;
  display: flex;
  justify-content: space-between;
  gap: 160px;
}

@media (max-width: 550px) {
  .training {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}