.highway__img {
  max-width: 650px;
  object-fit: contain;
  display: block;
}

@media (max-width: 768px) {
  .highway__img:last-child {
    display: none;
  }
  .highway__img {
    max-width: 284px;
  }
}