.training__img {
  margin-top: 60px;
  width: 580px;
  height: 460px;
  object-fit: cover;
}

@media (max-width: 888px) {
  .training__img {
    max-width: 284px;
    max-height: 225px;
    position: absolute;
    top: 20px;
  }
}