.training__img {
  margin-top: 60px;
  width: 580px;
  height: 460px;
  object-fit: cover;
}

@media (max-width: 550px) {
  .training__img {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    max-width: 284px;
  }
}